#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

/* Default styles for card components */
.card {
  padding: 2em;
}

/* Default styles for card components */
.card {
  padding: 2em;
}
